@import url("http://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  font-family: "SF Pro Display", sans-serif;
}
.upgrowth_btn {
  color: #7e7e7e;
}
.upgrowth_btn {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.upgrowth_btn:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #ffffff;
}
.Referrals_title {
  color: #1a1a1a;
}
.color_circle {
  display: flex;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.referrals_size {
  color: #6f6f6f;
}
/* .promo-card {
  transform: translate(36px, 200px);
  -webkit-transform: translate(36px, 200px);
  -moz-transform: translate(36px, 200px);
  -ms-transform: translate(36px, 200px);
  -o-transform: translate(36px, 200px);
} */
.coummunity_bg {
  position: relative;
  height: auto;
  background-image: url(./images/community.png);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}
.GridSection_bg {
  /* margin-top: -10rem; */
  height: auto;
  background-color: #8baecd;
}
.card_img {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
}
.card_margin {
  margin-top: 15%;
}
.col-span-2 .card_custom {
  margin-bottom: 4%;
}
/* .card_custom:nth-child(2) {
  margin-left: 72px;
} */
.community_grid_sec {
  padding-bottom: 100px;
}
.gridsec_point {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.transform_custom {
  transform: translate(100px, 0px);
  -webkit-transform: translate(100px, 0px);
  -moz-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  -o-transform: translate(100px, 0px);
}
.person_window_parent .person_window {
  width: 80%;
}
.grid-transform-content {
  transform: translate(0px, 50px);
  -webkit-transform: translate(0px, 50px);
  -moz-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -o-transform: translate(0px, 50px);
}
.integration-section {
  position: relative;
  z-index: 11;
}
.conversationSection {
  z-index: 10;
  transform: translate(0px, -160px);
  -webkit-transform: translate(0px, -160px);
  -moz-transform: translate(0px, -160px);
  -ms-transform: translate(0px, -160px);
  -o-transform: translate(0px, -160px);
}
.radius_custom {
  border-top-right-radius: 400px 75px;
}
